.header {
  height: 80px;
  width: 100%;
  background-color: #232323;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 10;
  top: 0;
  border-bottom: 1px solid #3a3a3a;
}

.header-logo-link {
  height: 100%;
}

.header-logo {
  height: 100%;
  width: auto;
}

.header-mobile-menu-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 42px;
  height: 42px;
}

@media (min-width: 600px) {
  .header {
    display: none;
  }
}
