@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
  scrollbar-width: thin;
  scrollbar-color: #b4936f #261f19;
}

html,
bndy {
  background-color: #261f19;
}
